.section
  .heading.heading-type-2.clearfix
    %h2.heading__ttl.font-lg.bold の口コミ
    .heading__option.float-right
      %p.btn.btn-type-2
        %span 投稿する
  .frame
    .frame.frame-type-1
      .table-box.clearfix
        .table-box__sub.float-left
          %img#my_icon
        .table-box__main.float-left
          %p.color-orange.bold.font-md.mt5.mb5
            シンジ
        .table-box__add.float-right
          %span.black-sm
            投稿:
          %span 2017年05月28日 08:30
      .mt15.mb15
        %p
          １日だけだったので混んでいたが、釜揚げ美味しかった。
      %ul.list.list-horiz