#aside
  #iine_ranking
    %h2.bold
      = image_tag "ic_iine_ranking.png"
      いいねをもらった数
    %ul
      %li いいねをもらっていません
  #ikitai_ranking
    %h2.bold
      = image_tag "ic_ikitai_ranking.png"
      いいねをもらった数
    %ul
      %li 行きたいをもらっていません
