#aside {
    float: left;
    width: 230px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
    color: #333;
}

#mypage_wrap #iine_ranking h2 img {
    position: absolute;
    top: 9px;
    left: 12px;
}

img {
    margin: 0;
    padding: 0;
    border: none;
}

#mypage_wrap #gone_notice ul, #mypage_wrap #latest_comments ul, #mypage_wrap #iine_ranking ul, #mypage_wrap #ikitai_ranking ul, #mypage_wrap #new_follower ul {
    padding-bottom: 10px;
}

#iine_ranking ul, #ikitai_ranking ul {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#mypage_wrap .reaction, #mypage_wrap #weekly_ranking, #mypage_wrap #iine_ranking, #mypage_wrap #ikitai_ranking {
    background: #fff;
    -moz-box-shadow: 0 1px 3px #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
    box-shadow: 0 1px 3px #ccc;
}

ul {
    list-style: none;
}