h1 {
    font-size: 120%;
}

.label {
    position: absolute;
    top: 10px;
    left: 0;
    font-weight: bold;
    color: #999;
}

#submit_area {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &_button{
      width: 186px;
      height: 44px;
      margin: 0 auto;
      margin-left: 20px;
      background-image: image-url("/comment/bt_submit.png");
      }
}

#comment_body, #introduction_body {
    width: 96%;
    padding: 2%;
    min-height: 200px;
}

#introduction_title {
    width: 96%;
    padding: 2%;
    min-height: 70px;
}




 #restaurant_area_upload {
    padding-bottom: 25px;
}

 #restaurant_area, #restaurant_area_upload, #review_area, #score_area {
    position: relative;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#restaurant_area, #restaurant_area_upload {
    width: 400px;
}

.fileinput-button {
    width: 136px;
    height: 40px;
    background-size: contain;
    margin-left: 150px;
}

 #score_area ul li {
    float: left;
    cursor: pointer;
    padding-bottom: 20px;
}

input[type="radio"]#bt_score_1 {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: image-url("/comment/bt_score_1_off.png");
    background-size: contain;

}
input[type="radio"]#bt_score_1:checked:before{
    content:"";
    position: absolute;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: image-url("/comment/bt_score_1_on.png");
    background-size: contain;

}

input[type="radio"]#bt_score_2 {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: imaeg-url("/comment/bt_score_2_off.png");
    background-size: contain;

}
input[type="radio"]#bt_score_2:checked:before{
    content:"";
    position: absolute;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: image-url("/comment/bt_score_2_on.png");
    background-size: contain;

}

input[type="radio"]#bt_score_3 {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: image-url("/comment/bt_score_3_off.png");
    background-size: contain;

}
input[type="radio"]#bt_score_3:checked:before{
    content:"";
    position: absolute;
    display: inline-block;
    width: 61px;
    height: 43px;
    background-image: image-url("/comment/bt_score_3_on.png");
    background-size: contain;

}