h1, h2, p, li, th, td, dt, dd, div, input, textarea {
    font-size: 13px;
    text-align: left;
    list-style: none;
}


#profile_area h1 {
    padding-left: 70px;
    color: #aa6401;
}

#profile_area {
    position: relative;
    float: left;
    width: 230px;
    padding: 20px 41px 20px 20px;
    margin-top: 4px;
    background: url(/images/bg_profile.png) repeat-y;
    background-position: 270px;
}

#profile_comment {
    margin-bottom: 15px;
    padding: 20px 0 25px;
    background: url(/images/bg_profile_comment.png) no-repeat;
    background-position: bottom;
    clear: both;
}



#sidebar_write_profile_button {
    display: block;
    background: transparent url(/images/side_link_account.png) no-repeat 0 0;
    background-size: 100% 200%;
    height: 49px;
}

#user_data{
    background: #fff;
    margin-top: 10px;
    border: 3px solid #eee;
    padding: 10px 10px 3px;
    margin-bottom: 20px;
}

#mymenu{
    border-top: 1px solid #e8e3d9;
    margin: 0;
}

#retty_ranking{
  margin-top: 20px;
}
