.frame
  .frame.frame-type-1
    .table-box.clearfix
      .table-box__sub.float-left
        %img#restaurant_icon
      .table-box__main.float-left
        %p.color-orange.bold.font-md.mt5.mb5
          = link_to "お店を検索"
    .mt15.mb15
      %p
        １日だけだったので混んでいたが、釜揚げ美味しかった。
    %ul.list.list-horiz
