= render 'layouts/header'
.wrapper
  .container#_popIn_body
    #mypage_wrap.cfx
      #main
        %ul.bread_list_area
          %li.bread_list_top
          %li
        #profile_area
          %img#my_icon
          %h1 shinji iida
          %ul#follow_data
            %li
              フォロー：
              %span
                1
            %li
              フォロワー：
              %span
                2
          %p#profile_comment
            %a#sidebar_write_profile_button
          %ul#user_data
            %li
              %a
              %img{src: :"/images/ic_itta.png" }
                行ったお店：
              %span 0
            %li
              %a
              %img{src: :"/images/ic_ikitai.png" }
                行きたいお店：
              %span 0
          #mymenu
            %a
            %img{src: :"/images/bt_itta_ikitai.png" }
            %a
            %img{src: :"/images/bt_edit.png" }
            %a
            %img{src: :"/images/bt_draft.png" }
          #retty_ranking
            %a
            %img{src: :"/images/bt_ranking.png" }
        = render '/users/main-right'
      = render '/users/aside'

    %p.go_top
      %a{:href => "javascript:void(0);", :onclick => "scrollToHead();"}
        %strong ▲ ページトップへ戻る

.footer
  .footer_inner
    %ul
      %li 全国おすすめ口コミ
      %li 人気レストラン
      %li 期間別口コミ一覧
      %li ヘルプ
      %li 投稿ガイドライン
    %ul
      %li Rettyグルメ
      %li 運営会社
      %li 利用規約
      %li プライバシーポリシー
      %li 脆弱性のご連絡
      %li 取材お申し込み
      %li 店舗様お問い合わせ
    .copyright Copyright (C) Retty, Inc. All Rights Reserved.