%header.retty-header
  .retty-header__container
    .retty-header__logo
      %h1
        %span Retty
    .retty-header__menu
      %ul
        %li Retty(レッティ)とは
        %li サイトマップ
        %li まとめ
        %li 食材
        %li 飲み物
        %li キーワード
        %li 取材お申し込み
        %li アカウントをお持ちのかたは
  .top-header
    .top-header__container
      .top-header__lead-main
        %p
      .top-header__lead-sub
        %p Rettyはグルメなあの人のおすすめからレストランを探せる新しいグルメサービス。
      .top-header__login
        %a{ href: :"/users/sign_up" }
          %p 新規登録・ログイン
      .top-header__nav
  .top-middle
  .top-footer
  %footer.retty-footer
    .retty-footer__container
      %ul
        %li Rettyグルメ
        %li 運営会社
        %li 利用規約
        %li プライバシーポリシー
        %li 脆弱性のご連絡
        %li 取材のお申し込み
        %li 店舗様問い合わせ
      %ul
        %li 全国おすすめ口コミ
        %li 期間別口コミ一覧
        %p Copyright (C) Retty, Inc. All Rights Reserved.